Source: ka-lite-source
Maintainer: Benjamin Bach <benjamin@learningequality.org>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9), dh-exec, unzip
Standards-Version: 3.9.1
X-Python-Version: >= 2.7



Package: ka-lite
Architecture: all
Pre-Depends: debconf, bash, wget, unzip
Depends: python (>= 2.7), python (<< 2.8), ucf, wget, python-pkg-resources
Suggests: ka-lite-gtk
Description: KA Lite
 A lightweight web server for serving core
 Khan Academy content (videos and exercises)
 without needing internet connectivity
Homepage: https://learningequality.org/ka-lite/



Package: ka-lite-raspberry-pi
Architecture: all
Pre-Depends: debconf, bash, wget, unzip, python-pkg-resources, nginx-light (>= 1.1.19) | nginx (>= 1.1.19) | nginx-full (>= 1.1.19)
Depends: python (>= 2.7), python (<< 2.8), ucf, python-m2crypto, python-psutil
Conflicts: ka-lite, ka-lite-bundle
Description: KA Lite (raspberry pi)
 A lightweight web server for serving core
 Khan Academy content (videos and exercises)
 without needing internet connectivity
Homepage: https://learningequality.org/ka-lite/



Package: ka-lite-bundle
Architecture: all
Pre-Depends: debconf, bash
Depends: python (>= 2.7), python (<< 2.8), ucf, python-pkg-resources
Conflicts: ka-lite, ka-lite-raspberry-pi
Description: KA Lite (all meta/exercise data bundled)
 A lightweight web server for serving core
 Khan Academy content (videos and exercises)
 without needing internet connectivity
Homepage: https://learningequality.org/ka-lite/



