#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

db_settitle ka-lite/window-title

# Run as system script?
db_input high ka-lite/init || true
db_go || true

KALITE_USER=""
while [ "$KALITE_USER" = "" ]; do
  db_input critical ka-lite/user || true
  db_go || true
  db_get ka-lite/user
  KALITE_USER="$RET"
done

# Check their answer.
db_get ka-lite/init
if [ "$RET" = "true" ]; then
    db_input high ka-lite/init-instructions || true
else
    db_input high ka-lite/manual-instructions || true
fi

db_go || true

