#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

db_settitle ka-lite/window-title

# Run as system script?
# Do not ask for RPi, it's mandatory!
# db_input high ka-lite/init || true
# db_go

KALITE_USER=""
while [ "$KALITE_USER" = "" ]; do
  db_input critical ka-lite/user || true
  db_go || true
  db_get ka-lite/user
  KALITE_USER="$RET"
done

# Check their answer.
db_get ka-lite/init
if [ "$RET" = "true" ]; then
    # Ask for user name, default is ka-lite
    db_input high ka-lite/init-instructions || true
else
    db_input high ka-lite/manual-instructions || true
fi

db_get ka-lite/download-assessment-items-storage-error
ASSESSMENT_ITEMS_STORAGE_ERROR=$RET

if [ "$ASSESSMENT_ITEMS_STORAGE_ERROR" = "true" ]
then
    db_input high ka-lite/download-assessment-items-storage-error-msg || true
    db_input high ka-lite/download-assessment-items-manual || true
else
    db_input high ka-lite/download-assessment-items || true
fi

db_go || true

